[Unit]
Description=omxplayer scene 1
After=syslog.target network.target multi-user.target 
# nodm.service
# Requires=nodm.service

[Service]
Type=simple
EnvironmentFile=/etc/vplayer.conf
Environment="VPLAYER_SCENE=0"
ExecStart=/usr/bin/omxplayer --no-osd --loop --display 5 --layer 1 ${VPLAYER_CONTENT}/video1.mp4
#ExecStart=/usr/bin/omxplayer --no-osd --loop --display 5 --layer 0 /home/pi/vplayer/holding.mp4
Restart=always
RestartSec=3


[Install]
WantedBy=multi-user.target

